body {
  background-image: url("images/unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

h1, h2 {
font-family: 'Bebas Neue', cursive;
color: rgb(60,60,60);
}

h1 {
  font-size: 70px;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 30px;
  margin: 0;
  padding-bottom: 10px;
}

p {
  padding-bottom: 10px;
}


a {
  text-decoration: none;
  color: #3A1772;
}

a:hover {
  color: #F99A8E;
  border-radius: 5px;
  transition: ease;
  transition-duration: 0.5s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding-top: 0px;
  display: inline;
  font-size: 50px;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.card {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  margin: 30px 0;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);

}

.image_circle {
  width: 100px;
  height: auto;
  border-radius: 50px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.button {
  background-color: #3A1772;
  color: white;
  padding: 8px;
  border-radius: 50px;
  transition: ease;
  transition-duration: 0.5s;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

#button_intro:hover {
  background-color: #F99A8E;
  color: white;
  padding: 8px;
  border-radius: 50px;
  transition: ease;
  transition-duration: 0.5s;
}

.footer {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 30px 0;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
